@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(https://www.wallpaperup.com/uploads/wallpapers/2014/09/24/454898/4435180819ec2ca4cc484d04b77b8187.jpg)no-repeat;
    background-size: cover;
    background-position: center;


}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;

}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}


.content .info h2{
    color: #053544;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info p{

    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;

}

.content .info-btn{
    color:aliceblue;
    background: #074d62;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0.5px 0.5px;
    border-radius: 2px;
    transition: 0.3s;
    transition-property: background;

}

.content .info-btn:hover{
    background: #0C4F60;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: #154383;
    font-size: 25px;
    transform: 0.3s;
    transition-property: tranform;
}

.media-icons a:not(:last-child){
    margin-right: 30px;

}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    
}


label:hover{
    color: #fff;
}